<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Alumnos</title>
    <link rel="stylesheet" href="../styles/findStudents.css">
</head>

<body>
    <header>
        <h1>Buscar Alumnos</h1>
    </header>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Buscar Alumno...">
        <button type="button" class="searchButton">Buscar</button>
    </div>

    <!-- Opciones de búsqueda -->
    <div class="search-options">
        <label>
            <input type="checkbox" id="searchByName" class="searchOption"> Nombre
        </label>
        <label>
            <input type="checkbox" id="searchByLastName" class="searchOption"> Apellido
        </label>
        <label>
            <input type="checkbox" id="searchByDocumentNumber" class="searchOption"> DNI
        </label>
    </div>

    <!-- Resultados de la búsqueda -->
    <div class="search-results">
        <!-- Aquí se mostrarán los resultados de la búsqueda -->
    </div>

    <!-- Botones -->
    <div class="buttons-container">
        <button id="deleteButton">Eliminar</button>
        <button id="editar-alumno">Editar</button>
        <button id="saveButton">Guardar</button>
        <button type="button" class="closeWindows"> Cancelar</button>
    </div>

    <script src="../scripts/findStudents.js"></script>
</body>

</html>
