<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Alumnos</title>
    <link rel="stylesheet" href="../styles/findStudents.css">
</head>

<body>
    <header>
        <h1>Buscar Alumnos</h1>
    </header>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
        <input type="text" placeholder="Buscar Alumno...">
        <button id="searchButton">Buscar</button>
    </div>

    <!-- Botones -->
    <div class="buttons-container">
        <button id="deleteButton">Eliminar</button>
        <button id="editButton">Editar</button>
        <button id="saveButton">Guardar</button>
        <button type="button" onclick="closeWindow()"> Cancelar</button>
    </div>

    <script src="../scripts/findStudents.js"></script>
</body>

</html>
