<!DOCTYPE html>
<html lang="es">

<head>
    <title>EduPayControl - Cargar Alumnos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Cargar Datos del Alumno</h1>
    </header>
    <main>
        <form id="studentForm" enctype="multipart/form-data">
            <label for="photo">Foto del alumno:</label>
            <img id="photoPreview" src="#" alt="Foto del alumno" style="display: none;"><br>
            <input type="file" id="photo" name="photo" accept="image/*"><br>

            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" name="firstName"><br>

            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName"><br>

            <label for="sex">Sexo:</label>
            <select id="sex" name="sex">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="non-binary">No Binario</option>
                <option value="afterSpecies">Trasespecie</option>
            </select><br>

            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address"><br>

            <label for="phone">Teléfono:</label>
            <input type="text" id="phone" name="phone"><br>

            <label for="motherPhone">Teléfono Madre:</label>
            <input type="text" id="motherPhone" name="motherPhone"><br>

            <label for="fatherPhone">Teléfono Padre:</label>
            <input type="text" id="fatherPhone" name="fatherPhone"><br>

            <label for="guardianPhone">Teléfono Tutor:</label>
            <input type="text" id="guardianPhone" name="guardianPhone"><br>

            <label for="birthdate">Fecha de Nacimiento:</label>
            <input type="date" id="birthdate" name="birthdate"><br>

            <label for="schoolYear">Año Escolar:</label>
            <input type="text" id="schoolYear" name="schoolYear"><br>

            <label for="section">Sección:</label>
            <input type="text" id="grade" name="grade"><br>

            <label for="Turn">Turno:</label>
            <select id="turn" name="turn">
                <option value="morning">Mañana</option>
                <option value="afternoon">Tarde</option>
                <option value="night">Noche</option>
            </select><br>

            <button type="submit">Guardar Alumno</button>
            <button type="button" onclick="closeWindow()">Cancelar</button>
        </form>
    </main>
    <footer>
        <p>© 2024 EduPayControl. Todos los derechos reservados.</p>
    </footer>
    <script src="../scripts/loadStudents.js"></script>
</body>

</html>