<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Estudiante</title>
</head>

<body>
    <h1>Datos del Estudiante</h1>
    <h1 id="student-name">Student Name</h1>
    <h2 id="student-id">Student ID</h2>
    <div class="search-results">
        <!-- Aquí se mostrarán los detalles del estudiante -->
    </div>

    <!-- Mensaje emergente -->
    <div class="popup" id="popup">
        <p id="popup-message">Student deleted</p>
    </div>

    <div class="buttons-container">
        <button class="deleteStudent">Eliminar</button>
        <button class="editar-alumno">Editar</button>
        <button class="saveButton">Guardar</button>
        <button class="closeWindows">Cancelar</button>
    </div>

    <script src="../scripts/studentDetails.js"></script>
</body>

</html>
